<button class="my-button" (click)="go()">TO PAGE 1</button>

<div class="my-wrapper">
  <div class="my-container"></div>
  <hr>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
  <div class="my-container"></div>
</div>

